* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    font-size: 100%;
    font-family: "Pacifico", cursive;
    font-family: "Raleway", sans-serif;
}