@font-face {
    font-family: Trebuchet;
    src: url(assets/fonts/9412.ttf);
}


/*colors*/

$main-color: #3b3f45;
$title-color: #4a4f56;
$block-color: #88839e;
$block-second-color: #7a7593;
$block-hover-color: #625e77;
$text-color: #fff;
$text-head-color: #eb7e7f;
$text-hover-color: #c4ced3;