@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/*colors*/

$text-main-color: #000;
$text-color: #999999;
$hover-color: #0ec8cb;
$text-hover-color: #fff;
$background-color: #f7f7f7;