* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0s ease-in;
    font-family: "Lato", sans-serif;
}

html,
body {
    min-height: 100vh;
    font-size: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

body {
    background-color: $background-color;
    display: flex;
    position: relative;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 70%;
    width: 30%;
    position: relative;
    padding: 10px;
    cursor: pointer;
}

.container_value {
    position: absolute;
    top: 5%;
}

.container_cup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.container_cup_smoke {
    position: absolute;
    top: 30%;
    justify-content: center;
}

.container_cup_cup {
    position: absolute;
    top: 45%;
    justify-content: center;
}

.container_cup_bean {
    z-index: 1;
    position: absolute;
    top: 25%;
    left: 30%;
    justify-content: center;
}

.description {
    position: absolute;
    top: 70%;
    text-align: center;
    font-size: $font-size;
}

h3 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

.container:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}