* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0s ease-in;
    font-family: "Lato", sans-serif;
}

html,
body {
    min-height: 100vh;
    font-size: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
}

body {
    background-color: $background-color;
    display: flex;
    position: relative;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 92px;
    padding-right: 92px;
    position: absolute;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 67%;
    width: 30.5%;
    position: relative;
    padding: 4px;
    cursor: pointer;
}

.container_value {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-36%);
}

.container_value>img {
    max-width: 70%;
    height: 80%;
}

.container_cup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.container_cup_smoke {
    position: absolute;
    top: 27%;
    justify-content: center;
}

.container_cup_cup {
    position: absolute;
    top: 40%;
    justify-content: center;
}

.container_cup_bean {
    z-index: 1;
    position: absolute;
    top: 25%;
    left: 31%;
    justify-content: center;
}

.description {
    position: absolute;
    top: 64%;
    text-align: center;
}

h3 {
    margin-bottom: 20px;
    font-size: $title-font-size;
}

p {
    margin-bottom: 20px;
    font-size: $font-size;
}

.container:hover {
    transform: scale(1, 1.1);
    transition: 0.2s ease-in-out;
}