@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

/*fonts*/

$main-font: "Lato",
sans-serif;
$title-font-size: 44px;
$font-size: 24px;

/*colors*/

$background-color: #fdde7e;