                * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ransition: all 0s ease-in;
    font-family: "MyriadProRegular", sans-serif;
    ht ml,
    b ody {
        min-height: 100vh;
        font-size: 100%;
        font-family: "MyriadProRegular", sans-serif;
        font-size: 14px;
        background-color: #e2e7ec;
        text-transform: uppercase;
        padding: 15px;
    }
    .lery {
        splay: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        padding: 70px;
    }
    .gallery_main-photo-text {
        color: white;
        position: absolute;
        bottom: 40px;
        ft: 40px;
        width: 100%;
        a {
            text-decoration: none;
            color: black;
            display: block;
        }
        p {
            margin-bottom: 30px;
            font-size: 14px;
            in-text {
                font-size: 30px;
            }
            .gallery_main-photo {
                position: relative;
                margin-bottom: 20px;
            }
            .g allery_photo {
                background-color: #fff;
                hight: 541px;
                position: relative;
                .g allery_photo-image {
                    width: 100%;
                    margin-bottom: 30px;
                }
                .gallery_photo-text {
                    position: absolute;
                    right: 40px;
                    top: 50%;
                }
                {
                    border-radius: 50%;
                    osition: absolute;
                    top: 160%;
                }
                .footer {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    vertical-align: middle;
                    padding: 30px;
                    text-align: center;
                }
                .footer_svg {
                    margin-right: 10px;
                }