/* font-family: "MyriadProRegular"; */

@font-face {
    font-family: "MyriadProRegular";
    src: url("../assets/fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../assets/fonts/MyriadProRegular/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"), url("../assets/fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}