* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    scroll-behavior: smooth;
}

html,
body {
    min-height: 100vh;
    font-size: 100%;
    scroll-behavior: smooth;
    font-size: 16px;
    color: #ffffff;
}