.icons {
    background-color: $dark-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 340px;
    position: relative;
    padding: 0 15%;
}

.semicircle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.icons_links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.icons_link {
    text-decoration: none;
    font-size: $H360;
    font-family: $aleo;
    color: $light-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 210px;
    min-height: 140px;
}

.icon_svg {
    width: 30px;
    height: 30px;
    margin-bottom: 30px;
}

.icon_svg_done {
    border: solid 1px #ff6363;
    border-radius: 50%;
    padding: 5px;
}