* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0s ease-in;
    font-family: "Open Sans", sans-serif;
    font-family: "Raleway", sans-serif;
    font-family: "Roboto", sans-serif;
}

html,
body {
    min-height: 100vh;
    font-size: 100%;
    font-family: "Open Sans", sans-serif;
    font-family: "Raleway", sans-serif;
    font-family: "Roboto", sans-serif;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 95px;
    & p {
        color: #898f8f;
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 18px;
    }
}

.title {
    color: #ffcc00;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 53px;
    position: relative;
}

.title::before {
    content: "";
    width: 210px;
    height: 2px;
    background-color: #ffcc00;
    position: absolute;
    top: 185%;
    left: -25%;
}

.title:after {
    content: "";
    width: 210px;
    height: 2px;
    background-color: #ffcc00;
    position: absolute;
    top: 185%;
    right: -25%;
}

.slideshow-inner {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
}

.slideshow-inner-img {
    box-sizing: border-box;
    border: 2px solid #ffcc00;
    margin: 25px;
    width: 395px;
    height: 395px;
    padding-bottom: 30%;
    position: relative;
}

.slideshow-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -o-object-position: center;
    object-position: center;
    -o-object-fit: cover;
    object-fit: cover;
}

.slideshow-inner-img-wrapper {
    background: linear-gradient( to right, #ffcc00 0%, #ffcc00 20%, transparent 20%, transparent 80%, #ffcc00 80%, #ffcc00 100%), linear-gradient( to right, #ffcc00 0%, #ffcc00 20%, transparent 20%, transparent 80%, #ffcc00 80%, #ffcc00 100%), linear-gradient( to bottom, #ffcc00 0%, #ffcc00 20%, transparent 20%, transparent 80%, #ffcc00 80%, #ffcc00 100%), linear-gradient( to bottom, #ffcc00 0%, #ffcc00 20%, transparent 20%, transparent 80%, #ffcc00 80%, #ffcc00 100%);
    background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
    background-position: 0 0, 0 100%, 0 0, 100% 0;
    background-repeat: no-repeat;
    margin-right: 200px;
    margin-bottom: 40px;
}

.slideshow-inner-text {
    max-width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & h2 {
        color: #666666;
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-size: 36px;
        margin-bottom: 68px;
        position: relative;
    }
    & h2::after {
        content: "";
        width: 100px;
        height: 2px;
        background-color: #ffcc00;
        position: absolute;
        top: 170%;
        left: 30%;
    }
    & h3 {
        color: #666666;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 18px;
    }
    & ul li {
        display: inline-block;
        list-style: none;
    }
    & ul {
        margin-bottom: 18px;
    }
    & li {
        margin-right: 5px;
    }
    & li:last-child {
        margin-right: 0;
    }
    & a {
        min-width: 30px;
        max-height: 30px;
        text-decoration: none;
        font-size: 14px;
        color: #cccccc;
    }
    .social-icon {
        width: 30px;
        height: 30px;
        border: 2px solid #cccccc;
        border-radius: 50%;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    & a:hover {
        color: #666666
    }
    & p {
        color: #333333;
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        font-size: 14px;
        margin-bottom: 50px;
        text-align: center;
        position: relative;
    }
    & p::after {
        content: "";
        width: 30px;
        height: 5px;
        background-color: #ffcc00;
        position: absolute;
        bottom: -40%;
        left: 46%;
    }
    & .button {
        border: 1px solid #ffcc00;
        max-width: 120px;
        max-height: 25px;
        font-size: 14px;
        color: #666666;
        text-transform: uppercase;
        padding: 5px 10px;
        background-color: #fff;
        position: relative;
    }
    & .button::after {
        content: "";
        width: 11px;
        height: 5px;
        background-color: #ffcc00;
        position: absolute;
        bottom: 180%;
        left: 70%;
    }
    & .button::before {
        content: "";
        width: 11px;
        height: 5px;
        background-color: #ffcc00;
        position: absolute;
        bottom: 180%;
        left: 15%;
    }
    & .button:hover,
    & .button:active {
        background-color: #ffcc00;
        border: 1px solid #ffcc00;
    }
}

.slideshow-inner-text::before {
    content: "";
    width: 2px;
    height: 561px;
    background-color: #ffcc00;
    position: absolute;
    top: -10%;
    left: 50%;
}

.inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

input {
    opacity: 0;
    margin: 5px;
}

label {
    user-select: none;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

label::before {
    content: "";
    width: 11px;
    height: 11px;
    border: 1px solid #ffcc00;
    background-color: #ffcc00;
    border-radius: 50%;
    position: absolute;
    left: -16px;
    top: -6px;
}

input[type="radio"]:checked+label:before {
    background-color: #fff;
    border: 1px solid #ffcc00;
}

.slideshow-inner::before {
    position: absolute;
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-left: 4px solid #ffcc00;
    border-bottom: 4px solid #ffcc00;
    top: 47%;
    left: 2%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    cursor: pointer;
}

.slideshow-inner:hover::before {
    opacity: 0.5;
    transition: 0.1s;
}

.slideshow-inner::after {
    position: absolute;
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    border-left: 4px solid #fc0;
    border-bottom: 4px solid #fc0;
    top: 47%;
    right: 2%;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
    cursor: pointer;
}

.slideshow-inner:hover::after {
    opacity: 0.5;
    transition: 0.1s;
}