@font-face {
    font-family: "MuseoSansLight";
    src: url("../assets/fonts/MuseoSansLight.eot");
    src: url("../assets/fonts/MuseoSansLight.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/MuseoSansLight.woff") format("woff"), url("../assets/fonts/MuseoSansLight.ttf") format("truetype"), url("../assets/fonts/MuseoSansLight.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}