* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0s ease-in;
    font-family: "Lato", sans-serif;
}

html,
body {
    min-height: 100vh;
    font-size: 100%;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    color: #3c3c3c;
}

body {
    background-color: #fff;
}

section {
    padding: 100px 10px;
}

.container {
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
}

h1 {
    font: 700;
    font-size: 56px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 65px;
    position: relative;
}

h1::after {
    content: "";
    display: inline-block;
    width: 50px;
    height: 5px;
    background-color: #dddbdb;
    position: absolute;
    bottom: -30px;
    left: 48.5%;
}

.foreword {
    font: 400;
    font-size: 16px;
    text-align: center;
    margin-bottom: 65px;
}

ul li {
    display: inline-block;
    align-items: center;
    vertical-align: middle;
}

li {
    width: 270px;
    height: 270px;
    margin-right: 25px;
    position: relative;
}

svg {
    width: 35px;
    height: 35px;
    background-color: #00cce9;
    cursor: pointer;
    margin-right: 5px;
    padding: 7px;
}

a {
    text-decoration: none;
    display: inline-block;
}

.image {
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    padding: 115px 0px;
    margin-bottom: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/Rectangle4.png);
    opacity: 0;
}

.image:hover {
    opacity: 1;
}

.name {
    background-color: #fff;
}

li:hover {
    cursor: pointer;
}